#about{
    background:#001f85;
}


#about img{
    max-width:380px;
    transition:.4s;
}

#about img:hover{
    transform:translateY(-20px);
    
}

.fotoPerfil {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;

    border: 5px solid #fff;
    box-shadow: 0 20px 40px rgba(0,0,0,.25);

    transition: all .4s ease;
}

.fotoPerfil:hover {
    transform: scale(1.05);
}

#about h1 {
    color: #fff;
}

#about h3 {
    color: #fff;
}
#about h5{
    color: #7cb9ff
}

a.btn-descargaCV {
    background-color: #001f85; /* azul sólido */
    color: #fff;               /* letras blancas */
    border: 2px solid #f2f3f5; /* borde azul */
    border-radius: 8px;        /* esquinas redondeadas */
    padding: 10px 25px;        /* espacio interno */
    transition: all 0.3s ease; /* efecto suave */
    
}

a.btn-descargaCV:hover {
    background-color: #fff;    /* fondo blanco */
    color: #000;               /* letras negras */
    border-color: #001f85;     /* mantiene el borde azul */
}

a.btn-Contactame {
    background-color: #f5f6f8; /* blanco sólido */
    color: #000000;               /* letras negras */
    border: 2px solid #1257e2; /* borde azul */
    border-radius: 8px;        /* esquinas redondeadas */
    padding: 10px 25px;        /* espacio interno */
    transition: all 0.3s ease; /* efecto suave */
}

a.btn-Contactame:hover {
    background-color: #fff;    /* fondo blanco */
    color: #000;               /* letras negras */
    border-color: #001f85;     /* mantiene el borde azul */
}